button {
  background-color: #2ef074;
  border-radius: 6px;
  border: 0;
  margin: 40px;
  padding: 10px;
  transform: scale(1, 1);
  font-size: 2em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
    color: white;
}
button:hover {
  background-color: antiquewhite;
  transform: scale(1.2, 1.2);
  transition: all 0.2s ease-in-out;
  color: black;
}
