.modal {
  background-color: rgb(255, 234, 98);
  box-shadow:  rgba(240, 214, 46, 0.4) -5px 5px,
  rgba(240, 214, 46, 0.3) -10px 10px, rgba(240, 214, 46, 0.2) -15px 15px,
  rgba(240, 214, 46, 0.1) -20px 20px, rgba(240, 214, 46, 0.05) -25px 25px;
  position: absolute;
  top: 25%;
  left: 15%;
  transform: translate((-50%, -50%));
  max-width: 40em;
  width: 40em;

}
.modal h3 {
  font-size: 6em;
  margin: 0;
}
.modal p {
  font-size: 3em;
}
#closeModal {
  font-size: 2em;
  text-align: center;
}
.modalOpt {
  margin: 15px;
}
